# This is a basic workflow to help you get started with Actions

name: Publish to Github Actions (Fabric 1.18.2)

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Execute Gradle build
        run: ./gradlew build

      - name: Delete Sources JAR
        run: cd build/libs && rm *-sources.jar;

      - name: Rename JAR
        run: find . -name 'iw2thshortbows-*.jar' -type f -exec bash -c 'mv "$1" "${1/\/iw2thshortbows-/\/IWant2TryHardsShortbows-fabric-1182-}"' -- {} \;

      - name: Publish to Github Releases
        uses: Kir-Antipov/mc-publish@v3.1
        with:
          loaders: fabric
          game-versions: 1.18.2
          curseforge-id: 654495
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
